/* Main container */
.about-container {
  display: flex;
  justify-content: center;
  background-color: rgba(252, 186, 3, 0.74);
  }
  
  /* About section */
  .about-us {
  width: 100vw;
  padding: 3.65vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  }
  
  /* About text */
  .about-us-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  }
  
  .about-us-heading {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  height: 13.5vh;
  }
  
  .about-us-para {
  font-size: 20px;
  padding: 1.46vw;
  padding-left: 6.95vw;
  padding-right: 6.95vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  /* Boxes */
  .box-container {
  display: flex;
  justify-content: space-around;
  margin-top: 6.5vh;
  }
  
  .box {
  border: 0.73vw solid black;
  padding: 1.1vw;
  border-radius: 0.73vw;
  text-align: center;
  width: 25%;
  }
  
  .box h3 {
  font-size: 30px;
  margin-bottom: 1.46vh;
  }
  
  .box p {
  font-size: 15px;
  line-height: 1.5;
  }
  
  /* Media queries */
  @media screen and (max-width: 768px) {
  .about-us {
  flex-direction: column;
  height: auto;
  }
  
  .about-us-image {
  width: 100%;
  margin-bottom: 3.9vh;
  }
  
  .about-us-text {
  width: 100%;
  }
  
  .box {
  width: 100%;
  margin-bottom: 3.9vh;
  }
  
  .about-us-heading {
  font-size: 40px;
  height: auto;
  margin-bottom: 2.6vh;
  }
  
  .about-us-para {
  font-size: 15px;
  height: auto;
  }
  h1 {
    font-size: 50px;
}
  }

