nav {
  margin-top: 0;
  top: 0;
  width: 100vw;
  height: 6vh;
  border-bottom: 5px solid #000000;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #fff;
  color: #000;
}

.nav-icon {
  display: none;
}

.logo {
  height: 65px;
  width: 65px;
  margin-left: 20px;
}

.nav-links {
  display: flex;
}

.nav-links li {
  list-style: none;
  margin-right: 25px;
  font-size: 1.4rem;
}

.nav-links a {
  color: #000;
  padding: 5px 7px;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
nav .nav-links li .dropdown-content {
  display: none;
  z-index: 10000;
}

nav .nav-links li:hover .dropdown-content {
  display: block;
  position: absolute;
  transform: scale3d(1, 1, 1);
  background-color: rgb(255, 255, 255);
  border:0.1px solid black;
  border-radius: 25px;
  height: fit-content;
  z-index: 10000;
  width: 150px;
  transition: 6s;
}

nav .nav-links .dropdown-content {
  border:0.1px solid black;
  margin-top: 5px;
  padding:10px;
  z-index: 10000;
}

nav .nav-links .dropdown-content li {
  padding: 5px;
  margin: 10px;
  width: 85%;
  font-size: large;
  border-radius: 19px;
  color: black;
}

nav .nav-links .dropdown-content li:hover {
  background: #fcba03;
  color: white;
  cursor: pointer;
}

.line {
  background: #000;
  width: 100%;
  height: 10px;
  color: white;
}

.nav-icon {
  position: relative;
  width: 30px;
  height: 20px;
  display: none;
}

.nav-icon .hamburger {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100%;
  height: 3px;
  background-color: #000;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-icon .hamburger:before,
.nav-icon .hamburger:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-icon .hamburger:before {
  transform: translateY(-8px);
}

.nav-icon .hamburger:after {
  transform: translateY(8px);
}

.nav-open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
}

.nav-open .nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-open .nav-links li {
  opacity: 0;
}

.nav-open .nav-links li:nth-child(1) {
  animation: fadeIn 0.5s forwards 0.2s;
}

.nav-open .nav-links li:nth-child(2) {
  animation: fadeIn 0.5s forwards 0.3s;
}

.nav-open .nav-links li:nth-child(3) {
  animation: fadeIn 0.5s forwards 0.4s;
}

.nav-open .nav-links li:nth-child(4) {
  animation: fadeIn 0.5s forwards 0.5s;
}

.nav-open .nav-links li:nth-child(5) {
  animation: fadeIn 0.5s forwards 0.6s;
}

.fullscreen-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.fullscreen-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fullscreen-menu li.menu-item {
  padding: 20px;
  width: 84vw;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #ccc;
  background: rgba(252, 186, 3, 0.74);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
}

.fullscreen-menu li.menu-item:last-child {
  border-bottom: none;
  cursor: pointer;
}

.fullscreen-menu li.menu-item a {
  text-decoration: none;
  color: #000;
}

.fullscreen-menu li.menu-item .dropdown-content {
  display: none;
  margin: 20px;
  z-index: 10000;
}

.fullscreen-menu .menu-item .dropdown:hover + .dropdown-content {
  display: block;
  width: 60vw;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 20px;
  z-index: 10000;
}

.fullscreen-menu .menu-item {
  position: relative;
}

.fullscreen-menu .menu-item .dropdown-content {
  display: none;
}

.fullscreen-menu .menu-item:hover .dropdown-content {
  display: block;
}

.fullscreen-menu .menu-item .dropdown-content:hover {
  background: rgba(250, 250, 250, 0.315);
  color: white;
  cursor: pointer;
}

.fullscreen-menu .menu-item .dropdown-content:last-child {
  border-bottom: none;
}

.fullscreen-menu .menu-item .dropdown-content li {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  cursor: pointer;
}

.fullscreen-menu .menu-item .dropdown-content li:last-child {
  border-bottom: none;
}

.fullscreen-menu .menu-item .dropdown-content li a {
  text-decoration: none;
  color: #000;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 900px) {
  .nav-icon {
    display: block;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
  }

  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.9;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
  }

  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 1s;
  }

  .nav-links li a {
    font-size: 24px;
    color: #000;
    text-decoration: none;
    padding: 1rem 0;
    font-weight: bold;
  }

  .nav-links li a:hover {
    color: #ff0000;
  }

  .hamburger.active {
    transform: translateX(0px) rotate(90deg);
  }
  .edc{
    display: block;
  }
}
